.father {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}


.header {
    background-color: rgb(91, 248, 88);
    grid-column: 1 / -1;
}

.content {
    background-color: tomato;
    grid-column: 1 / -2;
    grid-row: 2 / span 2;

}


.nav {
    background-color: rgb(54, 127, 238);
    grid-row: 2 / -2;
}




.footer {
    background-color: rgb(252, 197, 66);
    grid-column: span 4;
}



/* ● grid-column: (start) / (end);
● grid-row: (start) / (end);

● -1,
-2,
-3,
··· ▷ 끝에서부터 line 세기 ● (start) / span (cell 수) ▷ 시작점과 끝점을 적는걸 대신한다. */



/* 
.father {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px
}

.header {
    background-color: #2ecc71;
    grid-column: span 4;
}

.content {
    background-color: #3498db;
    grid-row: span 2;
    grid-column: span 3;
}

.nav {
    background-color: #8e44ad;
    grid-row: span 2;
}

.footer {
    background-color: #f39c12;
    grid-column: span 4;
} */